.our-doctor-section {
}
.ourdoctors-horizental-line {
  color: green;
  width: 150px;
  margin: 20px auto;
  opacity: 1;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.pagination button {
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 5px;
  border: 0px;
}
.selected {
  background-color: red;
  color: white;
}
